body {
    color:black
  }
  
  * {
    box-sizing: border-box;
  }

  input[type=text],input[type=number], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    margin-top:120px;
    /* margin:20px */
  }
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  .myrow{
    display: flex;
    justify-content: center;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .my-img{
      width:50%;
      height:100%
  }
  label{
    font-size: 1.1rem;
  }
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
    .my-img{
        width:100%
    }
    .myrow{
        display: block;
    }
    .container {
        margin-top:100px;
      }
      .container-dark{
        margin-top:50px
      }
  }
  .required-field::after {
    content: "*";
    color: red;
    margin-left:2px
  }
  .required-field-dark::after {
    content: "*";
    color: #CF6679;
    margin-left:2px
  }
  .para{
    font-size: 1.9rem;
      font-weight: 700;
      text-align: center;
    text-transform: uppercase;
  }