body {
    color:black
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    /* border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px; */
    /* margin-top:120px; */
    margin:100px
  }
  .container-dark{
    /* border-radius: 5px;
    background-color: #212121; */
    /* padding: 10px; */
    margin:100px;
    /* margin:20px; */
    color: white;
  }
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  .myrow{
    display: flex;
    justify-content: center;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .my-img{
      width:50%;
      height:100%
  }
  label{
    font-size: 1.1rem;
  }
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
    .my-img{
        width:100%
    }
    .myrow{
        display: block;
    }
    .container {
        margin:20px
      }
      .container-dark{
        margin:20px
      }
  }
  .required-field::after {
    content: "*";
    color: red;
    margin-left:2px
  }
  .required-field-dark::after {
    content: "*";
    color: #CF6679;
    margin-left:2px
  }